@model Data_Entities.Concretes.Musteri
@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/Login_Signup_Layout.cshtml";

}

<!DOCTYPE html>

<html>

<body>

    <h2 class="display-4 text-center py-3 my-3">Yeni Hesap Oluşturma</h2>

    <p class="lead text-center py-2 my-2">Lütfen yeni bir hesap oluşturmak için gerekli tüm boşlukları doğru ve eksiksiz bir şekilde doldurunuz.</p>

    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card col-md-8">
                <div class="card-header">
                    <h3>Giriş Yap</h3>
                </div>

                <div class="card-body">
                    <form action="~/Home/SignIn" method="post" class="form-shape needs-validation" novalidate>
                        
                        @Html.TextBoxFor(x => x.musteriAd, new { @class = "form-control", type="text", required="required", placeholder="Müşteri Ad:" })
                        <br />
                       
                        @Html.TextBoxFor(x => x.musteriSoyad, new { @class = "form-control", type = "text", required = "required", placeholder = "Müşteri Soyad:" })
                        <br />
                        @Html.TextBoxFor(x => x.musteriKullaniciAd, new { @class = "form-control", type = "text", required = "required", placeholder = "Müşteri Kullanıcı Adı:" })
                        <br />
                        @Html.TextBoxFor(x => x.musteriSifre, new { @class = "form-control", type = "password", required = "required", placeholder = "Müşteri Şifre:" })
                        <br />
                        @Html.TextBoxFor(x => x.musteriTelefon, new { @class = "form-control", type = "tel", required = "required", placeholder = "Müşteri Telefon:" })
                        <br />
                        @Html.TextBoxFor(x => x.musteriAdres, new { @class = "form-control", type = "text", required = "required", placeholder = "Müşteri Adres:" })
                        <br />
                        @Html.TextBoxFor(x => x.musteriTC, new { @class = "form-control", type = "text", required = "required", placeholder = "Müşteri TC:" })
                        <br />
                        <button class="btn btn-primary">Kaydet</button>



                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/Scripts/signupValidation.js"></script>

</body>
</html>