@model Data_Entities.Concretes.Araclar
@{
    
    Layout = "~/Views/Shared/Calisan_Layout .cshtml";
}
<head>
    <title>Araç Ekleme</title>
</head>
<h2>Arac Ekleme</h2>

<div class="card-body">
    @using (Html.BeginForm("AracEkleme", "Calisanlar", FormMethod.Post))
    {
    <div class="input-group form-group">
        @Html.TextBoxFor(x => x.aracMarka, new { @class = "form-control", type = "text", required = "required", placeholder = "Marka:" })
    </div>
    <div class="input-group form-group">
        @Html.TextBoxFor(x => x.aracModel, new { @class = "form-control", type = "text", required = "required", placeholder = "Model:" })
   
    </div>
    <div class="input-group form-group">
        @Html.TextBoxFor(x => x.aracYil, new { @class = "form-control", type = "text", required = "required", placeholder = "Yıl:" })

    </div>
    <div class="input-group form-group">
        @Html.TextBoxFor(x => x.aracRenk, new { @class = "form-control", type = "text", required = "required", placeholder = "Renk:" })
        
    </div>
    <div class="input-group form-group">
        @Html.TextBoxFor(x => x.aracKoltukSayisi, new { @class = "form-control", type = "text", required = "required", placeholder = "Koltuk Sayısı:" })

    </div>
    <div class="input-group form-group">
        @Html.TextBoxFor(x => x.aracAirBag, new { @class = "form-control", type = "text", required = "required", placeholder = "Airbag:" })
        
    </div>
    <div class="input-group form-group">
        @Html.TextBoxFor(x => x.aracBaslangicKM, new { @class = "form-control", type = "text", required = "required", placeholder = "Başlangıç KM:" })

    </div>
    <div class="input-group form-group">
        @Html.TextBoxFor(x => x.aracGunlukFiyat, new { @class = "form-control", type = "text", required = "required", placeholder = "Günlük Fiyatı:" })
       
    </div>


        <div class="form-group">
            <input type="submit" value="Kaydet" class="btn btn-warning float-right kaydet_btn">
        </div>
        <br /> <br /> 
    }
</div>


<script src="~/Content/Scripts/signupValidation.js"></script>